@mixin input() {
  input {
    color: white;
    &:focus:not([readonly]) {
      border-bottom: 1px solid yellow;
      box-shadow: 0 1px 0 0 yellow;
    }
  }
  label.active {
    color: yellow;
  }
}

#iconsContainer {
  display: grid;
  grid-template-areas: "expander icons";
  align-items: center;
  #expander {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: expander;
    margin-bottom: 10px;
    border: 2px yellow solid;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  #icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    grid-area: icons;
    margin: 10px;
    border: 1px solid yellow;
    border-radius: 10px;
    div {
      padding: 10px;
      &:hover {
        color: yellow;
      }
    }
  }
}

#title {
  @include input();
}