.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "todos create";
}

.todos {
    grid-area: todos;
}

.create {
    grid-area: create;
}